//COLORS
$beige: #F3EADA;
$red: #E1735A;
$rose: #F4A08E;
$mint: #8AA99D;
$babyblue: #A3D0E3;
$darkblue: #1D3D81;
$black: #0A0B22;
$white: #FFFDFB;

.beige{
  background-color: $beige;
}
.red{
  background-color: $red;
}
.rose{
  background-color: $rose;
}
.mint{
  background-color: $mint;
}
.babyblue{
  background-color: $babyblue;
}
.darkblue{
  background-color: $babyblue;
}

//ICONS
$arrow-right: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1710_1495)'%3E%3Cpath d='M2 23.5H44' stroke='%23212121' stroke-width='3'/%3E%3Cpath d='M22 1L44.6274 23.6274L22 46.2548' stroke='%23212121' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1710_1495'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
$arrow-diagonal: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1710_1497)'%3E%3Cpath d='M9.77002 9.57544L39.4685 39.2739' stroke='%23212121' stroke-width='3'/%3E%3Cpath d='M8.00244 39.6274H40.0024V7.62744' stroke='%23212121' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1710_1497'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
$download: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1740_1553)'%3E%3Cpath d='M24 2L24 38' stroke='%23212121' stroke-width='3'/%3E%3Cpath d='M4 17.799L24 37.5L43.598 17.799' stroke='%23212121' stroke-width='3'/%3E%3Cpath d='M6 39V45.5H42V39' stroke='%23212121' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1740_1553'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
$logo: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='32' cy='32' r='32' fill='%23E1735A'/%3E%3Cpath d='M16 47.2V21.6299C16 18.0787 18.8788 15.2 22.4299 15.2H41.5701C45.1212 15.2 48 18.0787 48 21.6299V29.4222M48 47.2V29.4222M48 29.4222H24.5939' stroke='%23FEFDFC' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$smiley: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.264 25.9631C36.7489 28.0192 36.6988 31.3644 34.3812 33.3447C31.8329 35.5213 26.1846 35.6194 21.4291 35.1243C17.4483 34.7099 14.9483 34 13.9483 31.5C13.4567 29.5821 12.781 27.1896 13.0017 25.2628C13.1923 23.5768 7.29313 23.5813 7.10251 25.2628C6.77143 28.2065 7.10251 31.5 9.94832 35.1243C13.3118 39.408 18.6309 39.3171 23.8077 39.5C38.8667 40.0352 44.9455 30.8024 40.9525 25.2628C39.7988 23.6616 34.1002 24.3529 35.264 25.9631Z' fill='%23FFFDFB'/%3E%3Cpath d='M35.2525 18.1367L35.254 18.1366C36.2262 18.0513 36.8881 17.3062 36.8573 16.3882L35.2525 18.1367ZM35.2525 18.1367C35.2466 18.1371 35.2408 18.1376 35.2351 18.1382M35.2525 18.1367L35.2351 18.1382M35.2351 18.1382L35.2336 18.1383L35.2333 18.1384C35.0561 18.1572 34.9148 18.2542 34.8281 18.3859C34.639 17.8672 34.2745 17.4531 33.9435 17.1545C33.6873 16.915 33.4011 16.7228 33.1354 16.5561C33.0441 16.4988 32.9574 16.4458 32.8742 16.3949C32.7011 16.289 32.5427 16.1922 32.3872 16.0841C31.9484 15.7794 31.6943 15.4916 31.6412 15.0454L31.6413 15.0454L31.6398 15.0347C31.5473 14.3783 31.914 13.7206 32.5489 13.282C33.1812 12.8452 33.9564 12.7136 34.5479 12.9722C35.0521 13.2455 35.6253 13.7912 36.0822 14.4498C36.5465 15.1189 36.8378 15.8279 36.8573 16.3881L35.2351 18.1382ZM35.0019 19.1916C35.5849 19.6926 36.345 19.7422 36.9903 19.5596C37.6661 19.3683 38.3079 18.9019 38.6453 18.2729C39.6681 16.4921 39.0478 14.5 38.1354 13.088C37.2826 11.6816 35.7412 10.0802 33.6972 10.2138C31.9667 10.2713 30.4349 11.2932 29.6396 12.6579C28.8318 14.0443 28.7688 15.8227 30.0525 17.3L30.061 17.3098L30.07 17.3191C30.7119 17.9845 31.4205 18.3526 32.1381 18.6215C32.4927 18.7543 32.8552 18.8649 33.2074 18.9723L33.2094 18.9729C33.5654 19.0814 33.9132 19.1875 34.2634 19.3161L35.074 19.6139L35.0019 19.1916Z' fill='%23FFFDFB' stroke='%23FFFDFB'/%3E%3Cpath d='M14.7666 18.4803C14.3482 18.6128 14.2169 19.1791 14.5933 19.4673L14.5933 19.4673L14.6002 19.4724C15.188 19.9065 15.8912 19.9563 16.5116 19.8151C17.1264 19.6751 17.7076 19.3399 18.1257 18.9223C19.8219 17.3058 20.3829 14.5431 18.9978 12.4464L18.9979 12.4464L18.9939 12.4405C18.278 11.3897 17.1361 10.8129 16.0648 10.5112C14.3047 9.94997 12.4743 10.3477 11.2809 11.4001C10.0601 12.4769 9.55099 14.2026 10.4066 16.1268L10.4129 16.1411L10.4202 16.1551C10.5103 16.3275 10.5978 16.5118 10.6925 16.7112C10.7375 16.806 10.7842 16.9042 10.8335 17.0062C10.9813 17.3118 11.1469 17.6378 11.3377 17.935C11.7047 18.5065 12.258 19.1165 13.1054 19.1165L13.7384 19.1165L13.5918 18.5007C13.3655 17.5503 13.0713 16.6773 12.7639 15.8473L12.7608 15.8389L12.7574 15.8306C12.5737 15.3842 12.44 14.9075 12.435 14.4756C12.4301 14.0551 12.5453 13.7072 12.8304 13.4418L12.8304 13.4418L12.8331 13.4392C13.4472 12.8589 14.3487 12.7738 15.3524 13.047L15.3524 13.0472L15.3659 13.0505C16.0768 13.2229 16.5855 13.5397 16.9008 13.9494C17.2122 14.354 17.3724 14.8972 17.3012 15.6013L17.3012 15.6013L17.3007 15.6071C17.1797 16.959 16.14 18.0143 14.7666 18.4803Z' fill='%23FFFDFB' stroke='%23FFFDFB'/%3E%3Cellipse cx='14.9531' cy='15.5' rx='3' ry='3.5' fill='%23FFFDFB'/%3E%3Cellipse cx='33.9531' cy='15.5' rx='3' ry='3.5' fill='%23FFFDFB'/%3E%3C/svg%3E%0A");


#logo {
  svg {  
    width: 48px;
    height: 48px;
    circle {
      fill: $darkblue;
      transition: fill .2s ease-in-out;
    }
  }
  &:hover{
    transition: fill .2s ease-in-out;
    circle {
      fill: $red;
    }
  } 
}

.smiley {
  -webkit-mask-image: $smiley;
  mask-image: $smiley;
}
.arrow-right {
  -webkit-mask-image: $arrow-right;
  mask-image: $arrow-right;
}
.arrow-left {
  -webkit-mask-image: $arrow-right;
  mask-image: $arrow-right;
  transform: rotate(180deg);
}
.arrow-diagonal {
  -webkit-mask-image: $arrow-diagonal;
  mask-image: $arrow-diagonal;
}
.download {
  -webkit-mask-image: $download;
  mask-image: $download;
}
.icon-none{
  display: none;
}


//TYPO 
@mixin highlight {
  font-family: "Rooney-Sans", sans-serif;
  font-style: normal;
  line-height: 1.2;
}
@mixin text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
@mixin menu {
  @include highlight;
  font-size: 1.25rem;
  font-weight: 600;
}
@mixin info {
  @include text;
  font-size: 0.64rem;
  line-height: 1.25;
}


h1, h2, h3, h3, h4, a {
  @include highlight;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  color: $red;
}
h2 {
  font-size: 4rem;
  font-weight: 600;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
h4 {
  font-size: 1.8rem;
  padding-bottom: 8px;
}
h5 {
  font-size: 1.25rem;
}
a {
  @include highlight;
  text-decoration: none;
  color: $darkblue;
  transition: color 0.1s ease-out;
  width: fit-content; 
  &:hover {
      color: $red;
      transition: color 0.1s ease-out; 
  }
}
p, b, h5 { 
  @include text;
}
li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
b {
  font-weight: 600;
}


//BUTTONS
.btn-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  background-color: $red;
  border-radius: 16px;
  padding: 16px 24px;
  .btn-text{
    @include menu;
    color: $white;
    transition: color 0.1s ease-out;
  }
  .btn-image{
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: $white;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
  }
  &:hover {   
    background-color: $darkblue;
    cursor: pointer;  
    transition: background-color 0.2s ease-out; 
    }
  }

.btn-nav {
  @include menu;
}
.btn-global{
  margin: 0 24px;
  text-decoration: none;
  transition: color 0.1s ease-out; 
  &:active{
    color: $red;
    transition: color 0.1s ease-out; 
  }
}


//GLOBAL BASE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  @include text;
}
html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $beige;
  overflow-x: hidden;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1400px;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: none;
  transition: .2s ease-in-out;
  .nav-content {
    z-index: 1005;
    position: fixed;
    padding: 24px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    .nav-left {
      display: flex;
    }
  }
}
.nobg {
  background-color: none;
}
.changebg {
  background-color: $white;
  transition: .2s ease-in-out;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat url('/x-footer.jpg');
  background-size: 100%;
  height: 700px;
  width: 100vw;
    .footer-content {
      display: flex;
      flex-direction: column;
      padding: 120px 0;
      width: 80%;
      max-width: 1400px;
      .footer-text {
        max-width: 48%;
        padding: 24px 0 32px 0;
      }
    }
    .footer-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 96%;
  }
}


//ERROR
#error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  height: 50vw;
  @media screen and (max-width: 1024px) and (min-width: 601px) {
    height: 120vw;
    width: 80%;
    max-width: 1400px;
  }
  @media screen and (max-width: 600px) {
    height: 200vw;
    width: 90%;
  }
  .error-message {
    @include highlight;
    font-size: 6rem;
    text-align: center;
    padding-bottom: 24px;
  }
  .error-code {
    padding-bottom: 64px;
  }
}


//ACCENTS
.rect-left {
  z-index: 999;
  width: 1800px;
  position: absolute;
}
.rect-right {
  z-index: 999;
  width: 1800px;
  position: absolute;
  right: 0;
}
.rect1 {
  z-index: 999;
  height: 600px;
  left: -100vw;
  @media screen and (min-width: 1800px) {
    left: -72vw;
  }
}
.rect2 {
  z-index: 999;
  height: 600px;
  top: 0vw;
  right: -64vw;
  @media screen and (min-width: 1800px) {
    right: -38vw;
  }
}
.rect3 {
  z-index: 999;
  height: 820px;
  top: 8vw;
  left: -80vw;
  @media screen and (min-width: 1800px) {
    left: -56vw;
  }
}
.rect4 {
  z-index: 999;
  height: 860px;
  top: -18vw;
  right: -72vw;
  @media screen and (min-width: 1800px) {
    right: -52vw;
  }
}

.scribble-fg {
  z-index: 1003;
  position: absolute;
}
.scribble-bg {
  z-index: 999;
  position: absolute;
}

.scribble1 {
  left: -34vw;
  top: 76vw;
  transform: rotate(26deg);
  @media screen and (min-width: 1800px) {
    top: 56vw;
  }
}
.scribble2 {
  z-index: 1002;
  position: absolute;
  left: -32vw;
  top: -8vw;
  transform: rotate(-24deg);
}
.scribble3 {
  position: absolute;
  z-index: 1001;
  right: -24vw;
  top: -44vw;
}
.scribble4 {
  position: absolute;
  left: -32vw;
  top: -32vw;
}
