@import "./_base.scss";

//HEADER
header {
  display: flex;
  flex-direction: column;
  height: 47vw;
  justify-content: center;
  @media screen and (min-width: 1600px) {
      height: 60vw;
  }
  @media screen and (max-width: 1024px) and (min-width: 601px) {
      height: 80vw;
  }
  @media screen and (max-width: 600px) {
      height: 200vw;
  }
  .header-content {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-content: space-between;
      @media screen and (max-width: 1024px) and (min-width: 601px) {
          grid-template-columns: 1fr 1fr;  
      }
      @media screen and (max-width: 600px) {
          display: flex;
          flex-direction: column-reverse;
      }
      .header-text {
          display: flex;
          flex-direction: column;
          .header-headline {
              @include highlight;
              min-width: 380px;
          }
          .header-desc{
              padding: $xs 0;
              max-width: 440px;
              @media screen and (max-width: 1024px) and (min-width: 601px) {
                  min-width: 360px;
                  max-width: 90%;
              }
              @media screen and (max-width: 600px) {
                  max-width: 100%;
              }
          }
      }
      .header-image {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @media screen and (max-width: 600px) {
              padding-bottom: $l;
          }
          .img-header {
              z-index: 1001;
              position: absolute;
              bottom: 1%;
              @media screen and (max-width: 1024px) and (min-width: 801px) {
                  max-width: 320px;
                  bottom: 13.7%;
              }
              @media screen and (max-width: 800px) and (min-width: 601px) {
                  max-width: 280px;
                  bottom: 16.4%;
              }
              @media screen and (max-width: 600px) {
                  max-width: 320px;
                  bottom: 19.2%
              }
          }
          .img-square {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $red;                
              width: 380px;
              height: 360px;
              @media screen and (max-width: 1024px) and (min-width: 801px) {
                  width: 250px;
                  height: 235px;
              }
              @media screen and (max-width: 801px) and (min-width: 601px) {
                  width: 230px;
                  height: 218px;
              }
              @media screen and (max-width: 600px) {
                  width: 280px;
                  height: 270px;
              }
          }
          .img-line {
              position: absolute;
              border: 3px solid $black;
              width: 345px;
              height: 360px;
              bottom: 17.2%;
              transform: rotate(120deg);
              @media screen and (max-width: 1024px) and (min-width: 801px) {
                  bottom: 26%;
                  width: 220px;
                  height: 230px;
              }
              @media screen and (max-width: 800px) and (min-width: 601px) {
                  bottom: 26%;
                  width: 195px;
                  height: 215px;
              }
              @media screen and (max-width: 600px) {
                  width: 260px;
                  height: 260px;
                  bottom: 34%;
              }
          }
      }
  }
}
#text-animated, #adjectives {
  @include highlight;
  height: 48px;
}
#text-animated:after {
  content:"";
  animation: aboutme 5s linear infinite;
}
@keyframes aboutme {
  0%, 100% { content:"Yvonne.";}
  10% { content:"teamplayer.";}
  20% { content:"organized.";}
  30% { content:"energetic.";}
  40% { content:"funny.";}
  50% { content: "openminded.";}
  60% { content: "direct.";}
  70% { content: "warmly.";}
  80% { content: "curious.";}
  90% { content: "plantlover.";}
}
#portrait{
  z-index: 1001;
  background-image: url('/yvonne-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 434px;
  height: 434px;
  animation: portrait 2s linear infinite;
  @media screen and (max-width: 1024px) and (min-width: 801px) {
      width: 300px;
      height: 300px;
  }
  @media screen and (max-width: 800px) and (min-width: 601px) {
      width: 260px;
      height: 260px;
  }
  @media screen and (max-width: 600px) {
      max-width: 320px;
      height: 320px;
  }
}

#adjectives:after {
  content:"";
  animation: adjectives 5s linear infinite;
}
@keyframes adjectives {
  0%, 100% { content:"great";}
  10% { content:"new";}
  20% { content:"awesome";}
  30% { content:"intuitive";}
  40% { content:"fun";}
  50% { content: "interactive";}
  60% { content: "exciting";}
  70% { content: "easy";}
  80% { content: "fancy";}
  90% { content: "useful";}
}


//SLOGAN
.slogan-text {
  display: flex;
  flex-direction: row;
  @include highlight;
  .slogan-highlight {
      display: flex;
      flex-direction: column;
      .highlight-text {
          @include highlight;
      }
      .highlight-line {
          width: 100%;
          height: 3px;
          background-color: $black;
      }
      .no-line{
        display: none;
      }
  }
  .slogan-icon{
    background-color: $black;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    align-self: center;
    margin-left: $xxs;
  }
}


////////////////////////////////MODULES////////////////////////////////

//IMAGE TEXT

.image-text{
  display: flex;
  flex-direction: column;
  .image-text-container{
    padding-bottom: $s;
    @media screen and (max-width: 600px) {
      padding-bottom: $nano;
    }
    .text-headline{
        padding-bottom: $nano;
    }
  }
}

//IMAGE UNO & TWO
.project-image{
  padding: $xs 0 $nano 0;
  img{
      display: block;
      width: 100%;
  }  
  .image-desc{
      @include info;
      display: flex;
      justify-content: flex-end;
      padding: $nano 0;
  }
}
.img-padding{
  padding: 0 0 $s 0;
}