@import "./_base.scss";

//MODULES
////Header
header{
    position: relative;
    .hero-mobile {
        display: none;
    }
    .hero-desktop {
        display: block;
        background: no-repeat url('/0-hero-189.png');
        background-size: 100%;
        height: 56vw;
        width: 100vw;
        .hero-content {
            padding: 180px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .hero-text {
                width: 80%;
                max-width: 1400px;
                .hero-title {
                    color: $red;
                    padding-bottom: 24px;
                }
                p {
                    padding-top: 8px;
                    width: 480px;
                }
            }
            .ha-arrow {
                position: absolute;
                top: -24vw;
                left: 10vw;
                z-index: 1001;
                @media screen and (min-width: 1800px) {
                    top: -18vw;
                    left: 16vw;
                }
            }
            .ha-dot {
                position: absolute;
                top: 28vw;
                right: -22vw;
                z-index: 1001;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .hero-mobile {
            display: block;
            background: no-repeat url('/0-hero-mobile.jpg');
            background-size: 100%;
            height: fit-content;
            min-height: 800px;
            width: 100vw;
            position: relative;
            .hero-content {
                padding: 120px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                .hero-text {
                    width: 80%;
                    .hero-title {
                        color: $red;
                        padding-bottom: 16px;
                    }
                }
                .ha-arrow {
                    position: absolute;
                    top: -40vw;
                    left: 26vw;
                    z-index: 1001;
                    img { 
                        width: 140%;
                    }
                }
                .ha-dot {
                    position: absolute;
                    top: 80vw;
                    right: -96vw;
                    z-index: 1001;
                    display: none;
                    img {
                        width: 64%;
                    }
                }
            }
        }
        .hero-desktop {
            display: none;
        }
    }
}


////00Section
.section {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 600px) {
        padding: 80px 0;
      }
}

.section-content {
    z-index: 1002;
    .section-title {
        padding-bottom: 16px;
    }
    .section-text {
        max-width: 440px;
    }
}

////01Gallery
.gallery {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    @media screen and (max-width: 600px) {
        padding-top: 48px;
      }
}
///Text-Image
.gallery-dot {
    z-index: 1002;
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    padding: 64px 0;
    .gallery-img {
        width: 600px;
        height: auto;
        img {
            width: 100%;
        }
    }
    .gallery-content {
        width: 480px;
        h3 {
            padding: 16px 0;
            color: $red;
        }
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;  
        padding: 48px 0;
        .gallery-content {
            width: 100%;
        }
        .gallery-img {
            width: 100%;
        }
    }
}
.img-first {
    flex-direction: row-reverse;
    z-index: 1005;
    @media screen and (max-width: 600px) {
        flex-direction: column;  
    }
    .gallery-content {
        h3 {
            padding: 16px 0;
        }
    }
}

////02Quote
.quote {
    display: flex;
    position: relative;
    .quote-quote {
        z-index: 1002;
        .quote-content {
            background-color: $white;
            max-width: 860px;
            padding: 120px;
            border-radius: 48px;
            @media screen and (max-width: 600px) {
                width: 100%;
                padding: 48px;
                border-radius: 32px;
              }
        }
    }
}
  .scribble-quote {
    z-index: 1003;
    position: relative;
    @media screen and (max-width: 600px) {
        img {
            width: 20%;
        }
      }
  }
  .quote-start {
    top: 48px;
    left: 48px;
  }
  .quote-end {
    transform: rotate(180deg);
    top: -48px;
    right: 48px;
  }

////03Special
#special {
    position: relative;
    .special-image {
        z-index: 1004;
        align-self: center;
        margin-top: 64px;
        padding: 64px;
        border-radius: 48px;
        background-color: $white;
        img {
            max-width: 800px;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
            padding: 48px;
            border-radius: 32px;
            img {
                width: 100%;
            }
          }
    }
}


////04Team
.team {
    padding-top: 64px;
    position: relative;
    .team-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 48px;
        position: relative;
        z-index: 1002;
    }
    @media screen and (max-width: 600px) {
        padding-top: 48px;
        .team-content {
            flex-direction: column;
            row-gap: 48px;
        }
      }
}
.team-section {
    z-index: 1003;
    max-width: 440px;
}
///Card
.card-url {
    width: 320px;
    padding: 32px;
    border-radius: 24px;
    background-color: $white;
    @media screen and (max-width: 600px) {
        width: 100%;
      }
    box-shadow: 0 1px 2px rgba(10,11,34,0.03), 
                0 2px 4px rgba(10,11,34,0.03), 
                0 4px 8px rgba(10,11,34,0.03), 
                0 8px 16px rgba(10,11,34,0.03),
                0 16px 32px rgba(10,11,34,0.03), 
                0 32px 64px rgba(10,11,34,0.03);
    transition: box-shadow 0.25s;
        img {
            width: 100%;
            padding-bottom: 16px;
        }
    &:hover {
        box-shadow: 0 1px 2px rgba(10,11,34,0.08), 
                    0 2px 4px rgba(10,11,34,0.08), 
                    0 4px 8px rgba(10,11,34,0.08), 
                    0 8px 16px rgba(10,11,34,0.08),
                    0 16px 32px rgba(10,11,34,0.08), 
                    0 32px 64px rgba(10,11,34,0.08);
                    transition: box-shadow 0.25s;

    }
}

  ////04Timeline
.timeline-dot {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 32%;
    .timeline-img {
        img {
            width: 320px;
        }
    }
    .timeline-text {
        position: relative;
        width: 280px;
        height: fit-content;
        margin-top: 18%;
        padding: 32px;
        left: 10%;
        border-radius: 24px;
        h3, h4, p{
            color: $white;
        }
    }
    @media screen and (max-width: 600px) {
        padding-top: 0;
        .timeline-img {
            img {
                width: 216px;
            }
        }
        .timeline-text {
            width: 220px;
            padding: 24px;
        }
    }
}
.timeline-img-first {
    flex-direction: row;
    .timeline-text {
        left: -10%;
    }
}

///History
.timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 88vw;
    width: 100vw;
    @media screen and (min-width: 1800px) {
        height: 64vw;
    }
    @media screen and (max-width: 600px) {
        height: 360vw;
      }
    .timeline-bg {
        position: absolute;
        top: -12vw;
        @media screen and (max-width: 600px) {
            top: 20vw;
            img {
                width: 180%;
            }
        }
    }
    .dot1 {
        position: absolute;
        top: -36vw;
        @media screen and (min-width: 1800px) {
            top: -44vw;
        }
        @media screen and (max-width: 600px) {
            top: 16vw;
            left: -10vw;
        }
    }
    .dot2 {
        position: absolute;
        top: -12vw;
        right: 16vw;
        @media screen and (min-width: 1800px) {
            top: -24vw;
            right: 31vw;
        }
        @media screen and (max-width: 600px) {
            top: 104vw;
            right: 0;
        }
    }
    .dot3 {
        position: absolute;
        top: 2vw;
        left: -4vw;
        @media screen and (min-width: 1800px) {
            top: -4vw;
        }
        @media screen and (max-width: 600px) {
            top: 200vw;
            left: -10vw;
        }
    }
    .dot4 {
        position: absolute;
        top: 28vw;
        right: 20vw;
        @media screen and (min-width: 1800px) {
            top: 10vw;
            right: 36vw;
        }
        @media screen and (max-width: 600px) {
            right: 0;
            top: 288vw;
        }
    }
}
.timeline-section, .special-section {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    z-index: 1003;
    position: relative;
    @media screen and (max-width: 600px) {
        width: 100%;
      }
}


//PAGES
////Legal
.legal {
    display: flex;
    flex-direction: column;
    padding: 160px 0 180px 0;
    align-items: center;
    .legal-content {
        width: 64%;
    }
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: 180px 0;
      }
    @media screen and (max-width: 600px) {
        padding: 180px 0;
    }
}



////NOT used
/// ////Circle
@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: - calc($item-size / 2);
    
      $angle: calc(360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate(calc($circle-size / 2)) 
            rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }


  .circle {
    display: flex;
    justify-content: center;
    .circle-container {
        @include on-circle($item-count: 5, $circle-size: 36vw, $item-size: 200px); 
        margin: 20% auto;
        border: 2px solid $red;
        img { 
        display: block; 
        max-width: 100%; 
        height: 200px;
        border-radius: 50%;
        }
    }
  }