@import "./_base.scss";

//MODULES
////Header
header{
    .full-img {
        background: no-repeat url('/0-hero-189.png');
        background-size: 100%;
        height: 56vw;
        width: 100vw;
        .hero-content {
            padding: 180px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .hero-text {
                width: 80%;
                .hero-title {
                    color: $red;
                    padding-bottom: 24px;
                }
            }
            .ha-arrow {
                position: absolute;
                top: -48%;
                left: 10%;
                z-index: 1001;
            }
            .ha-dot {
                position: absolute;
                top: 56%;
                right: -24%;
                z-index: 1001;
            }
        }
    }
}


////Section
.section {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
}

.section-content {
    .section-title {
        padding-bottom: 16px;
    }
    .section-text {
        max-width: 600px;
    }
}

////Timeline
.timeline-dot {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 32%;
    .timeline-img {
        img {
            width: 320px;
        }
    }
    .timeline-text {
        position: relative;
        width: 280px;
        height: fit-content;
        margin-top: 18%;
        padding: 32px;
        left: 10%;
        border-radius: 24px;
        h3, h4, p{
            color: $white;
        }
    }
}
.timeline-img-first {
    flex-direction: row;
    .timeline-text {
        left: -10%;
    }
}
.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: no-repeat url('/line.svg');
    background-size: 48%;
    height: 80vw;
    width: 100vw;
    .timeline-content {
        display: flex;
        flex-direction: row;
        .first-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }
        .second-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 64px;
        }
    }
}


////Gallery
.gallery {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
///Text-Image
.gallery-dot {
    z-index: 1001;
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    padding: 64px 0;
    .gallery-img {
        width: 600px;
        height: auto;
        img {
            width: 100%;
        }
    }
    .gallery-content {
        width: 480px;
        h3 {
            padding: 32px 0 16px 0;
            color: $red;
        }
    }
}
.img-first {
    flex-direction: row-reverse;
    .gallery-content {
        h3 {
            padding: 64px 0 16px 0;
        }
    }
}


////Team
.team-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 48px;
    padding-top: 64px;
}
///Card
.card-url {
    width: 320px;
    padding: 32px;
    border-radius: 24px;
    background-color: $white;
    box-shadow: 0 1px 2px rgba(10,11,34,0.03), 
                0 2px 4px rgba(10,11,34,0.03), 
                0 4px 8px rgba(10,11,34,0.03), 
                0 8px 16px rgba(10,11,34,0.03),
                0 16px 32px rgba(10,11,34,0.03), 
                0 32px 64px rgba(10,11,34,0.03);
    transition: box-shadow 0.25s;
        img {
            width: 100%;
            padding-bottom: 8px;
        }
    &:hover {
        box-shadow: 0 1px 2px rgba(10,11,34,0.06), 
                    0 2px 4px rgba(10,11,34,0.06), 
                    0 4px 8px rgba(10,11,34,0.06), 
                    0 8px 16px rgba(10,11,34,0.06),
                    0 16px 32px rgba(10,11,34,0.06), 
                    0 32px 64px rgba(10,11,34,0.06);
                    transition: box-shadow 0.25s;

    }
}

  .quote {
    display: flex;
    position: relative;
    .quote-quote {
        z-index: 1002;
        .quote-content {
            background-color: $white;
            width: 860px;
            padding: 120px;
            border-radius: 48px;
        }
    }
}
  .scribble-quote {
    z-index: 1003;
    position: relative;
  }
  .quote-start {
    top: 48px;
    left: 48px;
  }
  .quote-end {
    transform: rotate(180deg);
    top: -48px;
    right: 48px;
  }

////Circle
@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: - calc($item-size / 2);
    
      $angle: calc(360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate(calc($circle-size / 2)) 
            rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }


  .circle {
    display: flex;
    justify-content: center;
    .circle-container {
        @include on-circle($item-count: 5, $circle-size: 36vw, $item-size: 200px); 
        margin: 20% auto;
        border: 2px solid $red;
        img { 
        display: block; 
        max-width: 100%; 
        height: 200px;
        border-radius: 50%;
        }
    }
  }



//PAGES
////Legal
.legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 160px 0 180px 0;
    .legal-content {
        width: 64%;
    }
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: 180px 0;
      }
    @media screen and (max-width: 600px) {
        padding: 180px 0;
    }
}